/* .card {
  margin: 10px 350px 100px 350px;
  border-radius: 0px;
  /* background-color: #f2f2f2; */
  /* padding: 10px 10px 10px 10px; */
/* }  */

h3{
  text-align: center;
}

/* .input-style{
  padding: 12px;
  border: 10px solid #17242A;
  border-radius: 20px;
  width:100%;
  margin-top: 10px;
} */

.id-label{
  margin-right: 30px;
}

.id-div{
  margin-bottom: 20px;
}

.OTP-div{
  margin: 100px 250px 300px 250px;
  background-color: white;
  padding: 50px 50px 50px 50px;
  text-align: center;
}

 /* havorthlogo img */
/* .logo-img{
   height: 100px;
   width: 100px;
   border-radius: 100%;
} */

/* Navigation bar */
/* Style the links inside the navigation bar */



.about-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-sec-1 {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-sec-2 {
  padding: 50px;
  text-align: center;
  background-color: #868e9e;
  color: white;
}
.askcard
{
  background-color: #f2f2f2;
  margin: 10px 350px 100px 350px;
  height: 500px;
}
.img-ask
{
  width: 100%;
  margin-bottom: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.ask-btn-1
{
  margin-left: 10px;
}

.ask-btn-2
{
  margin-left: 80px;
}
.otp-option
{
  margin-right:30px;
}
.smsCode {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  width:50%;
  outline: none;
  border-radius: 3px;
}
.otp-button
{
  margin-top: 20px;
}
