.send_btn{
    background-color: #2EA8B5;
    padding: 12px 150px;
    margin-top: 40px;
    color: #13252F;
    font-weight: 700;
    letter-spacing: 1.1px;
    cursor: pointer;
    border: 3px solid #13252F;
}

.contact_input_style{
    border-radius: 0;
    border: none;
    border: 2px solid #13252F;
    height: 40px;
    padding: 10px;
}

.msg_input{
    height: 230px;
}

textarea{
    font-weight: 500;
}

.contact_wrap{
    width: 1000px;
    background-color: #E2F2F2;
    padding: 30px;
    padding-top: 80px;
}

.contact_body{
    height: 100vh;
    width: 100%;
    background-color: #2EA8B5;
}

.contact_form{
    padding: 0;
}