.change_pass_bg{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -3;
  background-color: #2EA8B5;
}

.change_pass_particles_bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.enroll_heading{
  padding-bottom: 60px;
}

.forget_card{
  margin: 0px 450px 100px 450px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 4px solid #13252F;
  padding: 10px 30px 10px 30px;
  height:300px;
  width: 645px;
  position: fixed;
  z-index: 3;
}

.enrol_input_style{
  padding: 12px;
  border: 3px solid #13252F;
  border-radius: 0px;
  width:100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.enrol_bg{
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #2EA8B5;
  padding-top: 50px;
}

.get_otp_btn{
  height: 50px;
  width: 250px;
  background-color: #13252F;
  color: white;
  border: none;
  border-radius: 0;
}

.get_otp_btn:hover{
  background-color: #13252F;
}

.otp_card{
  margin: 0px 450px 100px 450px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 4px solid #13252F;
  padding: 10px 30px 10px 30px;
  height:300px;
  width: 645px;
  position: fixed;
  z-index: 3;
}

.otp_input_style{
  padding: 12px;
  border: 3px solid #13252F;
  border-radius: 0px;
  width:100%;
  height: 50px;
  margin-top: 10px;
}

.reset_card{
  position: absolute;
  z-index: 3;
  width: 645px;
}