.container-fluid{
    padding: 2% 10%;
}

.navbarcolor{
  background-color: #13252F;
  color: #fff;  
} 

img{
  height:600px;
  width: 100%;
}
  
.carousel-content {
margin-right: 750px;
}

button{
  margin-left: 40px;
  margin-top: 20px;
}

.div-2{
  height:550px;
  width: 100%;
}

.ig{
  border: none;
  height: 82vh;
}

.reg_btn{
  position: absolute;
  z-index: 2;
  top: 350px;
  left: 55px;
  height: 45px;
  width: 170px;
  background-color: #13252F;
  color: white;
  border: none;
}

.front_login_btn{
  background-color: #13252F;
  border: 2px solid #fff;
  width: 90px;
  color: #fff;
  margin-top: 0;
}