form{
    padding: 0;
}
 
.sec-2 {
   background-color: #13252F;
   height:60px;
   padding-top: 10px;
}
 
.sec-3 {
   padding: 0px 85px 20px 85px;
}

.sec-3_div{
    border: 2px solid #13252F;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    padding: 10px 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.ques_input{
    height: 40px;
    width: 500px;
    border: none;
    margin-left: 5.7%;
    padding-left: 5px;
}

.ques_input:focus{
    outline: none;
}

.search_btn{
    height: 40px;
    width: 60px;
    margin: 0;
    border: none;
    background-color: #2EA8B5;
    border-top: 4px solid #2EA8B5;
    border-bottom: 3px solid #2EA8B5;
    cursor: pointer;
}

.search_btn:focus{
    outline: none;
}

i{
    color: #13252F;
}

/*-------btn css--------*/

.ask {
    top: 0;
    left: 0;
    float: left;
    border-radius: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 5px 19px;
    margin-right: 15px;
    margin-top: 7px;
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    border: 2.5px solid #13252F;
    font-weight: 600;
    color: #13252F;
    box-shadow: 6px 6px 0 #13252F;
    text-decoration: none;
}

.ask:hover {
    top: 3px;
    color: #404040;
    left: -3px;
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 3px 0 #13252F;
    border: 2.5PX solid #13252F;
    color: #13252F;
}

.ask:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
}

.ask:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
}

.ask::after {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: #13252F;
    transform: rotate(45deg);
    z-index: -1;
}

.ask::before {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #13252F;
    transform: rotate(45deg);
    z-index: -1;
}

.ask {
    position: relative;
}

.ask:active {
    top: 6px;
    left: -6px;
    box-shadow: none;
    background-color: #FFFFFF;
}

.ask:active.ask:before {
    background-color: #FFFFFF;
    bottom: 1px;
    right: 1px;
}

.ask:active.ask:after {
    background-color: #FFFFFF;
    top: 1px;
    left: 1px;
}

.title{
    text-decoration: none;
    color: #13252F;
}

.title:hover{
    text-decoration: none;
}