.login_bg{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -3;
    background-color: #2EA8B5;
}

.login_input_style{
    border-radius: 0;
    border: none;
    border: 2px solid #13252F;
    height: 40px;
    padding: 0;
    padding-left: 10px;
    margin-top: 0.8%;
}

.login_input_style:focus{
    outline: none;
    color: #13252F;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #13252F;
}

a:hover{
    text-decoration: underline;
    color: #13252F;
}

.form-group{
    margin-bottom: 2.5%;
}

.show-password{
    cursor: pointer;
    opacity: 0.7;
}

.login_btn {
    top: 0;
    left: 0;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    width: 410px;
    background-color: #2EA8B5;
    border: 2.5PX solid #13252F;
    text-transform: uppercase;
    color: #ffffff;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 #DFF2EA;
    text-decoration: none;
}

.login_btn:hover {
    top: 3px;
    color: #404040;
    left: -3px;
    background-color: #2EA8B5;
    box-shadow: -3px 3px 0 #13252F;
    border: 2.5PX solid #13252F;
    color: white;
}

.login_btn:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
}

.login_btn:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
}

.login_btn::after {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: #13252F;
    transform: rotate(45deg);
    z-index: -1;
}

.login_btn::before {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #13252F;
    transform: rotate(45deg);
    z-index: -1;
}

button.login_btn {
    position: relative;
}

button:active.login_btn {
    top: 6px;
    left: -6px;
    box-shadow: none;
    background-color: #2EA8B5;
}

button:active.login_btn:before {
    background-color: #2EA8B5;
    bottom: 1px;
    right: 1px;
}

button:active.login_btn:after {
    background-color: #2EA8B5;
    top: 1px;
    left: 1px;
}

/*----------btn css ended----------*/

.login_form{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-right{
    padding-top: 10px;
}

.login_heading{
    margin-bottom: 20px;
    color: #13252F;
}

label{
    font-weight: 600;
    color: #13252F;
}

.show-password{
    font-weight: 600;
    color: #13252F;
    opacity: 0.7;
}

.particles_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.bottom_links{
    padding-top: 30px;
    top: 50px;
}

/*------login card transparent------*/

.login_card {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, .25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    background-color: #E2F2F2;
    border: none;
    border-radius: 0;
    padding: 15px;
    border: 3px solid #13252F;
}