.title{
    cursor: pointer;
    color: white;
    margin-left: 11.2%;
}

.sec-1{
    background-color: #2EA8B5;
    height:100px;
    padding: 20px 40px 20px 40px;
}

.topnav .a {
    float: left;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.topnav .a:hover{
    text-decoration: none;
    color: #13252F;
}

.topnav button{
    float: right;
    margin: 11px 20px;
    background-color: #2EA8B5;
    border: 3px solid white;
    color: white;
    font-weight: 500;
    padding: 5px 15px;
    cursor: pointer;
}

.topnav button:hover{
    background-color: #2EA8B5;
    border: 3px solid #13252F;
    color: #13252F;
}

.topnav-right {
    margin-right: 25px;
    float: right;
}