.otp-option{
    border-radius: 0;
    background-color: #13252F;
    height: 45px;
    width: 150px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
}

.otp_submit_button{
    border-radius: 0;
    background-color: #13252F;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    height: 45px;
    width: 200px;
    font-weight: 500;
}

form{
    border: none;
}

.error_msg{
    margin-top: -70px;
}