.question_body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}

.question_content_p{
    font-size: 35px;
    font-weight: bold;
}

.question_details{
    margin-top: 15px;
    display: flex;
}

.date_time{
    padding-left: 2%;
    display: flex;
}

.date_time_b{
    padding-left: 5px;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.answer_header{
    display: flex;
    justify-content: space-between;
}

.inbetween_hr{
    margin-top: 0;
    margin-bottom: 0;
    width: 85%;
}

.ans_date_time{
    display: flex;
    width: 180px;
    justify-content: space-between;
    float: right;
}

.report_btn_div{
    float: right;
}

.ans_date_time p {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}

/*------- ans section css ------*/

.add_ans_heading{
    float: left;
    margin: 0;
}

.ans_btns{
    display: flex;
    position: relative;
    left: 0;
}

.ans_btn{
    height: 35px;
    width: 35px;
    justify-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 0;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: #2EA8B5;
    color: white;
    padding-top: 4px;
}

.ans_btn i{
    color: white;
}

.ans_btn:hover{
    background-color: #2EA8B5;
}

textarea{
    height: 200px;
    width: 100%;
    border: 3px solid #2EA8B5;
}

.code_input{
    background-color: #d2fffd;
}

.submit_btn{
    background-color: #2EA8B5;
    padding: 9px 70px;
    color: #13252F;
    font-weight: 700;
    letter-spacing: 1.1px;
    cursor: pointer;
    border: 3px solid #13252F;
    margin-top: 20px;
}

.submit_btn:hover{
    background-color: #2EA8B5;
    padding: 9px 70px;
    border: 3px solid #13252F;
    color: #13252F;
}

form{
    padding-bottom: 50px;
}

.code_style{
    background-color: #dbdbdb;
    color: #13252F;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.answers{
    display: flex;
    margin-top: 2.7%;
    border-bottom: 1px solid #13252F;
    padding-bottom: 20px;
}

.answer_body{
    width: fit-content;
}

.ans_left{
    float: left;
}

.ans_right{
    margin-left: 4%;
    float: right;
    width: 85%;
}

.sat_ans_btn{
    cursor: pointer;
    background-color: white;
    color: #13252F;
    border: none;
}

.fa-check{
    color: #2EA8B5;
}

.report_btn{
    background-color: #13252F;
    width: 40px;
    height: 40px;
    border: none;
    float: right;
    outline: none;
    margin-top: 10px;
}

.report_btn:hover{
    background-color: #13252F;
}