.card{
    border: none;
}

.register_input_style{
    border-radius: 0;
    border: none;
    border: 2px solid #13252F;
    height: 40px;
    padding: 10px;
    margin-top: 0.8%;
}

a{
    text-decoration: none;
    color: #2EA8B5;
}

a:hover{
    text-decoration: none;
    color: #2EA8B5;
}

.form-group{
    margin-bottom: 2.5%;
}

.show-password{
    cursor: pointer;
    opacity: 0.7;
}

/*------------btn css--------------*/

.register-btn {
    top: 0;
    left: 0;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    width: 30%;
    background-color: #FFFFFF;
    border: 2.5PX solid #2EA8B5;
    text-transform: uppercase;
    color: #13252F;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 #2EA8B5;
    text-decoration: none;
}

.register-btn:hover {
    top: 3px;
    color: #404040;
    left: -3px;
    background-color: #2EA8B5;
    box-shadow: -3px 3px 0 #13252F;
    border: 2.5PX solid #13252F;
    color: white;
}

.register-btn:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
}

.register-btn:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
}

.register-btn::after {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: #13252F;
    transform: rotate(45deg);
    z-index: -1;
}

.register-btn::before {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #13252F;
    transform: rotate(45deg);
    z-index: -1;
}

button.register-btn {
    position: relative;
}

button:active.register-btn {
    top: 6px;
    left: -6px;
    box-shadow: none;
    background-color: #2EA8B5;
}

button:active.register-btn:before {
    background-color: #2EA8B5;
    bottom: 1px;
    right: 1px;
}

button:active.register-btn:after {
    background-color: #2EA8B5;
    top: 1px;
    left: 1px;
}

/*----------btn css ended----------*/

.register_form{
    width: 1100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
    margin-top: 40px;
    background-color: #E2F2F2;
    border: 3px solid #13252F;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, .25);
}

.text-right{
    padding-top: 10px;
}

.register_heading{
    padding-bottom: 50px;
    color: #13252F;
}

label{
    font-weight: 600;
    color: #13252F;
}

.show-password{
    font-weight: 600;
    color: #13252F;
    opacity: 0.7;
}

.particles_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.left_banner{
    height: 100vh;
    width: 45%;
    position: fixed;
    background-color: #2EA8B5;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-111.15%, -50%);
    box-shadow: 0 4px 20px 0 rgba(13, 48, 48, 0.4);
}

.register_bg{
    height: 125vh;
    width: 100%;
    padding-top: 40px;
    background-color: #2EA8B5;
    position: absolute;
    z-index: -3;
    margin-bottom: 50px;
}