.profile_heading{
    padding-bottom: 20px;
}

.change_pass_bg{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -3;
    background-color: #2EA8B5;
}

.particles_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

label{
    margin: 0;
    font-weight: bold;
}

input{
    margin: 0;
}

.save_btn{
    background-color: #13252F;
    padding: 7px 70px;
    font-weight: 700;
    letter-spacing: 1.1px;
    cursor: pointer;
    border: 3px solid #13252F;
    margin-top: 20px;
    border-radius: 0;
}

.save_btn:hover{
    background-color: #13252F;
}

.reset_bg{
    height: 100vh;
    width: 100%;
    background-color: #2EA8B5;
    z-index: -1;
    padding-top: 30px;
}

.reset_card{
    padding: 10px 30px 10px 30px;
    margin: 0px 450px 100px 450px;
    background-color: #f2f2f2;
    border: 4px solid #13252F;
}