.nav_bar{
    background-color: #17242A;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 10% 0 10%;
}

.heading{
    padding-top: 5px;
}

.right_nav{
    display: flex;
    float: right;
}

.nav_ele{
    padding: 10px 20px;
    padding-bottom: 10px;
    float: right;
    cursor: pointer;
}

.state{
    padding: 40px 10% 0 10%;
}

.nav_ele:hover{
    background-color: #3AAFA9;
}