.profile_heading{
    padding-bottom: 20px;
}

.label{
    font-weight: bold;
}

.profile_info_one{
    margin-left: 600px;
    color: #13252F;
}

.profile_info_two{
    margin-left: 602px;
    color: #13252F;
}

.profile_info_three{
    margin-left: 641px;
    color: #13252F;
}

.profile_info_four{
    margin-left: 598px;
    color: #13252F;
}

.profile_info_five{
    margin-left: 630px;
    color: #13252F;
}

.profile_info_six{
    margin-left: 620px;
    color: #13252F;
}

.profile_info_seven{
    margin-left: 651px;
    color: #13252F;
}

.profile_row{
    padding-bottom: 15px;
}